<div class="container pt-5">
  <div class="card mb-3" style="max-width: 1040px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= attachment_image_tag @gourmet, :image, format: "jpg", size: "350x250" %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><%= @gourmet.name %></h3>
        <div class="card-text"><%= @gourmet.introduction %></div>
        <div><i class="fas fa-heart like-btn" ></i><%= @gourmet.favorites.count %> いいね</div>
        <table>
          <tr>
            <th>スタジアム名</th>
            <td><%= @gourmet.stadium.name %></td>
          </tr>
          <tr>
            <th>スタジアム住所</th>
            <td><%= @gourmet.stadium.address %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  </div>

  <div class="row mt-5">
    <% if @gourmet.visitor == current_visitor %>
      <%= link_to "削除", gourmet_path(@gourmet), method: :delete,data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
    <% end %>
  </div>

  <div class="row">
    <p>コメント件数：<%= @gourmet.gourmet_comments.count %></p>
    <table class="table bg-light">
      <% @gourmet.gourmet_comments.each do |gourmet_comment| %>
        <tr>
          <td><%= gourmet_comment.created_at.strftime('%Y/%m/%d') %></td>
          <td><%= link_to gourmet_comment.visitor.name, admin_visitor_path(gourmet_comment.visitor) %></td>
          <td><%= gourmet_comment.comment %></td>
          <td><%= link_to '削除する', admin_gourmet_gourmet_comment_path(gourmet_comment.gourmet, gourmet_comment), method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-danger"%></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>