<%= form_with model:stadium, local:true do |f| %>
<div class="field">
    <%= f.label :"名称" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :"住所" %>
    <%= f.text_area :address %>
  </div>

  <div class="field">
    <%= f.label :"画像" %>
    <%= f.attachment_field :image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>