<div class="container pt-5">
  <% if @stadium.errors.any? %>
  <%= @stadium.errors.count %>件のエラーが発生しました
  <% @stadium.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
  <% end %>
  <%= form_with model:[ :admin, @stadium ], local:true do |f| %>
  <div class="row">
    <table class="table table-borderless">
      <tr>
        <th><%= f.label :"名称" %></th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th><%= f.label :"住所" %></th>
        <td><%= f.text_area :address %></td>
      </tr>
      <tr>
        <th><%= f.label :"画像" %></th>
        <td><%= f.file_field :image %></td>
      </tr>
    </table>
  </div>
  <div class="row">
    <%= f.submit class: "btn btn-success" %>
  </div>
  <% end %>
</div>