<div class="container pt-5">
  <% if @stadium.errors.any? %>
  <%= @stadium.errors.count %>件のエラーが発生しました
  <% @stadium.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
  <% end %>
  <%= form_with model:[ :admin, @stadium ], local:true do |f| %>
  <div class="row">
    <table class="table table-borderless">
      <tr>
        <th><%= f.label :"名称" %></th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th><%= f.label :"住所" %></th>
        <td><%= f.text_area :address %></td>
      </tr>
      <tr>
        <th><%= f.label :"画像" %></th>
        <td>
          <div class="float-left"><%= f.attachment_field :image, id: "image" %></div>
          <div><%= attachment_image_tag @stadium, :image, class: "card img-square", fallback: "no_image.jpg", size: "450x300" %></div>
        </td>
      </tr>
    </table>
  </div>
  <div class="row">
    <%= f.submit class: "btn btn-success" %>
  </div>
  <% end %>
</div>


<script>
$(function() {
    $('#image').on('change', function() {
        var selectedFile = this.files[0];
        var fileReader = new FileReader();

        fileReader.onload = function(event) {
            var loadedImageUri = event.target.result;
             $('.img-square').attr('src', loadedImageUri);
        };

        fileReader.readAsDataURL(selectedFile);
    });
});
</script>