<%= form_with model[ :public, @visitor], local:true do |f| %>
  <div class="field">
    <%= f.label :"名前" %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :"性別" %>
    <%= f.text_field :gender %>
  </div>

  <div class="field">
    <%= f.label :"年齢" %>
    <%= f.text_field :age %>
  </div>

  <div class="field">
    <%= f.label :"推し飯" %>
    <%= f.text_field :favorite_food %>
  </div>

  <div class="field">
    <%= f.label :"自己紹介" %>
    <%= f.text_area :introduction %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>