<div class="container pt-5">
  <div class="row bg-light">
    <div class="col-md-10">
      <table class="table">
        <tr>
          <th width="150">名前</th>
          <td width="200"><%= @visitor.name %></td>
        </tr>
        <tr>
          <th>性別</th>
          <td>
            <% if @visitor.gender == false %>
            男性
            <% else %>
            女性
            <% end %>
          </td>
        </tr>
        <tr>
          <th>年齢</th>
          <td><%= @visitor.age_i18n %></td>
        </tr>
        <tr>
          <th>推し飯</th>
          <td><%= @visitor.favorite_food %></td>
        </tr>
        <tr>
          <th>自己紹介</th>
          <td><%= @visitor.introduction %></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <% if @visitor.id == current_visitor.id %>
    <%= link_to "編集画面へ", edit_visitor_path(@visitor), class: "btn btn-success mt-5" %>
    <% end %>
  </div>
</div>

