<div class="container pt-5">
  <% if @gourmet.errors.any? %>
  <%= @gourmet.errors.count %>件のエラーが発生しました
  <% @gourmet.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
  <% end %>
  <%= form_with model: [ :public, @gourmet ], url: gourmets_path, local:true do |f| %>
  <div class="row">
    <div class="col-md-10">
      <table class="table table-borderless">
        <tr>
          <th><%= f.label :"スタジアム" %></th>
          <td><%= f.collection_select(:stadium_id, @stadiums, :id, :name, {prompt: "スタジアムを選択"}) %></td>
        </tr>
         <tr>
          <th><%= f.label :"商品名" %></th>
          <td><%= f.text_field :name %></td>
        </tr>
         <tr>
          <th><%= f.label :"商品紹介" %></th>
          <td><%= f.text_area :introduction, cols: '60',rows:'5' %></td>
        </tr>
         <tr>
          <th><%= f.label :"画像" %></th>
          <td>
            <div class="float-left"><%= f.attachment_field :image, id: "image" %></div>
            <div class="float-right"><%= attachment_image_tag @gourmet, :image, class: "card img-square", fallback: "no_image.jpg", size: "450x300" %></div>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-success"%>
  </div>
  <% end %>
</div>

<script>
$(function() {
    $('#image').on('change', function() {
        var selectedFile = this.files[0];
        var fileReader = new FileReader();

        fileReader.onload = function(event) {
            var loadedImageUri = event.target.result;
             $('.img-square').attr('src', loadedImageUri);
        };

        fileReader.readAsDataURL(selectedFile);
    });
});
</script>