<div class="container">
  <div class="row">
    <div class="col-md-10">
      <%= form_with model: [ :public, @gourmet ], url: gourmets_path, local:true do |f| %>
      <table class="table table-borderless">
        <tr>
          <th><%= f.label :"スタジアム" %></th>
          <td><%= f.collection_select(:stadium_id, @stadiums, :id, :name, {prompt: "スタジアムを選択"}) %></td>
        </tr>
         <tr>
          <th><%= f.label :"商品名" %></th>
          <td><%= f.text_field :name %></td>
        </tr>
         <tr>
          <th><%= f.label :"商品紹介" %></th>
          <td><%= f.text_area :address %></td>
        </tr>
         <tr>
          <th><%= f.label :"画像" %></th>
          <td><%= f.file_field :image %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>