<div class="container pt-5">
  <div class="card mb-3" style="max-width: 1040px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <%= attachment_image_tag @gourmet, :image, format: "jpg", size: "350x250" %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title"><%= @gourmet.name %></h3>
        <div class="card-text"><%= @gourmet.introduction %></div>
        <div id="favorites_buttons_<%= @gourmet.id %>">
        <%= render 'public/favorites/favorite', gourmet: @gourmet %>
        </div>
        <table>
          <tr>
            <th>スタジアム名</th>
            <td><%= @gourmet.stadium.name %></td>
          </tr>
          <tr>
            <th>スタジアム住所</th>
            <td><%= @gourmet.stadium.address %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  </div>

  <div class="row mt-5">
    <% if @gourmet.visitor == current_visitor %>
      <%= link_to "削除", gourmet_path(@gourmet), method: :delete,data: { confirm: '本当に消しますか？' }, class: "btn btn-danger" %>
    <% end %>
  </div>
  <% if visitor_signed_in? %>
  <div class="row mt-5">
    <!--<div id="comments_forms_<%= @gourmet.id %>">-->
      <%= render 'public/gourmet_comments/form', gourmet: @gourmet, gourmet_comments: @gourmet_comments %>
    <!--</div>-->
  </div>
  <% end %>
  <div class="row bg-light mt-5">

  </div>
  <div id="comments_area" class="row bg-light">
    <!--<div id="comments_area">-->
      <%= render 'public/gourmet_comments/index', gourmet_comments: @gourmet_comments %>
    <!--</div>-->
  </div>
</div>