<h2>新規登録</h2>
<div class="container">
<%= form_with model: @visitor, url: visitor_registration_path, id: 'new_visitor', class: 'new_visitor', local: true do |f| %>
  <%= render "visitors/shared/error_messages", resource: resource %>
  <table class="table table-borderless">
    <tr>
      <th><%= f.label :email %></th>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
    </tr>
    <tr>
      <th>
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </th>
      <td><%= f.password_field :password, autocomplete: "new-password" %></td>
    </tr>
    <tr>
      <th><%= f.label :password_confirmation %></th>
      <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
    </tr>
    <tr>
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :gender %></th>
      <td>
        <label><%= f.radio_button :gender, "false" %>男性</label>
        <label><%= f.radio_button :gender, "true" %>女性</label>
      </td>
    </tr>
    <tr>
      <th><%= f.label :age %></th>
      <td><%= f.select :age, Visitor.ages.keys.map {|k| [I18n.t("enums.visitor.age.#{k}"), k]} %></td>
    </tr>
    <tr>
      <th><%= f.label :favorite_food %></th>
      <td><%= f.text_field :favorite_food %></td>
    </tr>
    <tr>
      <th><%= f.label :introduction %></th>
      <td><%= f.text_area :introduction, cols: '60',rows:'5' %></td>
    </tr>
  </table>
  <div class="actions">
  <%= f.submit "新規登録", class: "btn btn-success"%>
  </div>
<% end %>
</div>