<h2>Sign up</h2>

<%= form_with model: @visitor, url: visitor_registration_path, id: 'new_visitor', class: 'new_visitor', local: true do |f| %>
  <%= render "visitors/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :gender %><br />
    <label><%= f.radio_button :gender, "false" %>男性</label>
    <label><%= f.radio_button :gender, "true" %>女性</label>
  </div>

  <div class="field">
    <%= f.label :age %><br />
    <%= f.select :age, [ ["10代",1], ["20代", 2], ["30代", 3 ] ,["40代", 4], ["50代", 5], ["60代以上", 6] ], prompt: "年齢を選択してください" %>
  </div>

  <div class="field">
    <%= f.label :favorite_food %><br />
    <%= f.text_field :favorite_food %>
  </div>

  <div class="field">
    <%= f.label :introduction %><br />
    <%= f.text_field :introduction %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "visitors/shared/links" %>
