<!DOCTYPE html>
<html>
  <head>
    <title>GourmetStadium</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if visitor_signed_in? %>
      <li class=“nav-item”>
          <%= link_to "マイページ", visitor_path(current_visitor), class: 'mr-5 nav-link btn btn-outline-secondary' %>
      </li>
      <li class=“nav-item”>
          <%= link_to "新規投稿", new_gourmet_path, class: 'mr-5 nav-link btn btn-outline-secondary' %>
      </li>
    <% end %>
    <%= yield %>
  </body>
</html>
